<div id="table1" class="table-container">
    <table border="1"class="table table-bordered table-striped" >
        <tr>
            <th>Bone loss</th>
            <th>17</th>
            <th>16</th>
            <th>15</th>
            <th>14</th>
            <th>13</th>
            <th>12</th>
            <th>11</th>
        </tr>
        <tr>
            <td>Buccal/Labial</td>
            <td>-</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Lingual/Palatal</td>
            <td>-</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Mesial</td>
            <td>-</td>
            <td>4</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
            <td>2</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Distal</td>
            <td>-</td>
            <td>2</td>
            <td>2</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
    </table>
      
    <table border="1" class="table">
     
     <tr>
         <th>Tooth no.</th>
         <th>17</th><th>16</th><th>15</th><th>14</th><th>13</th><th>12</th><th>11</th>
         <th>21</th><th>22</th><th>23</th><th>24</th><th>25</th><th>26</th><th>27</th>
     </tr>
     <tr>
         <th>Bone loss (in mm)</th>
         <td>6.3</td><td>6.7</td><td>6.7</td><td>6.7</td><td>7.2</td><td>6.3</td><td>6.3</td>
         <td>6.3</td><td>6.3</td><td>7.2</td><td>6.3</td><td>6.7</td><td>6.3</td><td>5.8</td>
     </tr>
     <tr>
         <th>Tooth no.</th>
         <th>47</th><th>46</th><th>45</th><th>44</th><th>43</th><th>42</th><th>41</th>
         <th>31</th><th>32</th><th>33</th><th>34</th><th>35</th><th>36</th><th>37</th>
     </tr>
     <tr>
         <th>Bone loss (in mm)</th>
         <td>6.7</td><td>6.7</td><td>5.8</td><td>6.3</td><td>6.7</td><td>4.5</td><td>4.5</td>
         <td>4.5</td><td>5.4</td><td>6.3</td><td>6.3</td><td>5.8</td><td>6.3</td><td>5.8</td>
     </tr>
    </table>
</div>
    
<div id="table2" class="table-container">
    <table border="1" class="table table-bordered table-striped" >
        <tr>
            <th>Bone loss</th>
            <th>27</th>
            <th>26</th>
            <th>25</th>
            <th>24</th>
            <th>23</th>
            <th>22</th>
            <th>21</th>
        </tr>
        <tr>
            <td>Buccal/Labial</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Lingual/Palatal</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Mesial</td>
            <td>2</td>
            <td>1</td>
            <td>2</td>
            <td>4</td>
            <td>3</td>
            <td>3</td>
            <td>2</td>
        </tr>
        <tr>
            <td>Distal</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>4</td>
            <td>3</td>
            <td>3</td>
            <td>1</td>
        </tr>
    </table>
    
    
    <table border="1"class="table" >
      <tr>
          <th>Bone loss</th>
          <th>47</th>
          <th>46</th>
          <th>45</th>
          <th>44</th>
          <th>43</th>
          <th>42</th>
          <th>41</th>
      </tr>
      <tr>
          <td>Buccal/Labial</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
      </tr>
      <tr>
          <td>Lingual/Palatal</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>2</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
      </tr>
      <tr>
          <td>Mesial</td>
          <td>3</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>3</td>
          <td>3</td>
          <td>3</td>
      </tr>
      <tr>
          <td>Distal</td>
          <td>2</td>
          <td>2</td>
          <td>2</td>
          <td>2</td>
          <td>2</td>
          <td>3</td>
          <td>2</td>
      </tr>
    </table>
</div>
<div id="table3" class="table-container">
    <table border="1"class="table table-bordered table-striped">
        <caption>Bone Loss Details</caption>
        <tr>
            <th>Tooth no.</th>
            <th>17</th><th>16</th><th>15</th><th>14</th><th>13</th><th>12</th><th>11</th>
            <th>21</th><th>22</th><th>23</th><th>24</th><th>25</th><th>26</th><th>27</th>
        </tr>
        <tr>
            <th>Bone loss (in mm)</th>
            <td>7.2</td><td>7.7</td><td>7.7</td><td>7.7</td><td>8.2</td><td>7.2</td><td>7.2</td>
            <td>7.2</td><td>7.2</td><td>8.2</td><td>7.2</td><td>7.7</td><td>7.2</td><td>6.7</td>
        </tr>
        <tr>
            <th>Tooth no.</th>
            <th>47</th><th>46</th><th>45</th><th>44</th><th>43</th><th>42</th><th>41</th>
            <th>31</th><th>32</th><th>33</th><th>34</th><th>35</th><th>36</th><th>37</th>
        </tr>
        <tr>
            <th>Bone loss (in mm)</th>
            <td>7.7</td><td>7.7</td><td>6.6</td><td>7.2</td><td>7.7</td><td>5.1</td><td>5.1</td>
            <td>5.1</td><td>6.1</td><td>7.2</td><td>7.2</td><td>6.7</td><td>7.2</td><td>6.7</td>
        </tr>
    </table>
    
    <table border="1" class="table">
        <tr>
            <th>Tooth no.</th>
            <th>17</th><th>16</th><th>15</th><th>14</th><th>13</th><th>12</th><th>11</th><th>21</th><th>22</th><th>23</th><th>24</th><th>25</th><th>26</th><th>27</th>
        </tr>
        <tr>
            <th>Bone loss (in mm)</th>
            <td>9.2</td><td>9.9</td><td>9.9</td><td>9.9</td><td>10.5</td><td>9.2</td><td>9.2</td><td>9.2</td><td>9.2</td><td>10.5</td><td>9.2</td><td>9.9</td><td>9.2</td><td>8.6</td>
        </tr>
        <tr>
            <th>Tooth no.</th>
            <th>47</th><th>46</th><th>45</th><th>44</th><th>43</th><th>42</th><th>41</th><th>31</th><th>32</th><th>33</th><th>34</th><th>35</th><th>36</th><th>37</th>
        </tr>
        <tr>
            <th>Bone loss (in mm)</th>
            <td>9.9</td><td>9.9</td><td>8.6</td><td>9.2</td><td>9.9</td><td>6.6</td><td>6.6</td><td>6.6</td><td>7.9</td><td>9.2</td><td>9.2</td><td>8.6</td><td>9.2</td><td>8.6</td>
        </tr>
    </table>
    <table border="1"class="table">
        <tr>
            <th>Tooth no.</th>
            <th>17</th><th>16</th><th>15</th><th>14</th><th>13</th><th>12</th><th>11</th><th>21</th><th>22</th><th>23</th><th>24</th><th>25</th><th>26</th><th>27</th>
        </tr>
        <tr>
            <th>Bone loss (in mm)</th>
            <td>10.9</td><td>11.7</td><td>11.7</td><td>11.7</td><td>12.4</td><td>10.9</td><td>10.9</td><td>10.9</td><td>10.9</td><td>12.4</td><td>10.9</td><td>11.7</td><td>10.9</td><td>10.1</td>
        </tr>
        <tr>
            <th>Tooth no.</th>
            <th>47</th><th>46</th><th>45</th><th>44</th><th>43</th><th>42</th><th>41</th><th>31</th><th>32</th><th>33</th><th>34</th><th>35</th><th>36</th><th>37</th>
        </tr>
        <tr>
            <th>Bone loss (in mm)</th>
            <td>11.7</td><td>11.7</td><td>10.1</td><td>10.9</td><td>11.7</td><td>7.8</td><td>7.8</td><td>7.8</td><td>9.36</td><td>10.9</td><td>10.9</td><td>10.1</td><td>10.9</td><td>10.1</td>
        </tr>
    </table>
</div>
